{% extends "base.html" %}
{% block content %}
<section class="enemies-container">
    <div class="enemies-list-wrap">
        <h1>ENEMIES</h1>
        <ol class="enemies-list">
            <li value="1"><s>Bryson Tiller</s></li>
            <li value="2">DJ Envy</li>
            <li value="3">Red40</li>
            <li value="4">Elsa Jean</li>
            <li value="5">Gucci</li>
            <li value="7">My Dog Tofu</li>
            <li value="8">Chipotle</li>
            <li value="9"><s>Bryson Tiller</s></li>
            <li value="10">Kohl's</li>
            <li value="11">Sefton Hill</li>
            <li value="12">Carl Pei</li>
            <li value="13">Stuart Snyder</li>
            <li value="14"><s>Uber</s></li>
            <li value="15">Bryson Tiller's Assistant</li>
        </ol>
    </div>
</section>
{% endblock %}
